@using AmbienteEscolar.Business.BancoDeDados;
@using AmbienteEscolar.Business.Repositorios;
@using AmbienteEscolar.Business.Classes;

@{
    //Layout nulo, por enquanto (mudar para _Layout, assim que estiver pronto)
    Layout = null;
    BancoDados.DBConnect();

    Aluno a = new Aluno();
    Curso c = new Curso();
    List<Curso> cursos = CursoRepository.ListarCursos();
    List<Aluno> alunos = AlunoRepository.ListarAlunos();
    Usuario usuario = new Usuario();
    usuario.Login = Request.Form["login"];

    Boolean logged = false;
    HttpCookie cookie = Request.Cookies["UserLogin"];
    if (cookie != null)
    {
        logged = true;
    }
}

<!DOCTYPE html>

<html>
@if (logged == true)
{
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Alunos</title>
        <link href="~/View/Shared/_Layout.cshtml" rel="logo" />
        <link href="~/Models/css/reset.css" rel="stylesheet" />
        <link href="~/Models/css/menu.css" rel="stylesheet" />
        <link href="~/Models/css/alunos.css" rel="stylesheet" />
        <link href="~/View/Validate/ValidateLogin.cshtml" rel="profile" />
        <link rel="icon" type="image/x-icon" href="~/Button-Blank-Blue-icon.ico">
    </head>
    <body>
        <!--Spinner Wrapper-->
        <div id="spinMod" class="spinner-modal">
            <div id="spinnerWrapper" class="ring">
                Loading
                <span id="spanSpinner"></span>
            </div>
        </div>

        <!--Main Header-->
        <div id="hyperHeader">
            <div class="header">
                <h2>AVA - Ambiente Escolar</h2>
                <p>Seja bem-vindo!</p>
            </div>
            <div class="cvSDgbcvD">
                <ul>
                    <li><a class="active" href="~/View/Home/Menu">Home</a></li>
                    <li><a href="~/View/Home/Matriculas">Matrículas</a></li>
                    <li class="dropdown">
                        <a>
                            Cadastro
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi-caret-down-fill" viewBox="0 0 16 16">
                                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                            </svg>
                        </a>
                        <div class="dropdown-content">
                            <a href="~/View/Home/Alunos">Alunos</a>
                            <a href="~/View/Home/Professores">Professores</a>
                            <a href="~/View/Home/Usuarios">Usuários</a>
                        </div>
                    </li>
                    <li><a href="~/View/Ext/Sobre">Suporte</a></li>
                    <li class="dropdown">
                        <a>
                            Eu
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi-caret-down-fill" viewBox="0 0 16 16">
                                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                            </svg>
                        </a>
                        <div class="dropdown-content">
                            <a onclick="LogOff()">Logoff</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <!--Alunos Screen-->
        <div id="alunos" class="d-Alunos">
            <main class="div-mainCCVCD">
                <div class="home-title">
                    <p>STUDENTS:</p>
                </div>
                <div class="alun-MMskcDF">
                    <h2>Cadastro de Alunos:</h2>
                    <form action="~/WebBusiness/AlunoBusiness/AlunoInsert.cshtml" method="post">
                        <div class="alun-DDscVok" hidden>
                            <label hidden>Id:</label>
                            <input id="idAluno" type="text" name="idAluno" value="@a.Id" hidden />
                        </div>
                        <div class="alun-DDscVok">
                            <label>Nome:</label>
                            <input id="nome" type="text" name="nome" value="@a.Nome" placeholder="Nome do aluno" disabled />
                        </div>
                        <div class="alun-DDscVok">
                            <label>E-mail:</label>
                            <input id="email" type="email" name="email" value="@a.Email" placeholder="E-mail do aluno" disabled />
                        </div>
                        <div class="alun-DDscVok">
                            <label>Selecione o curso:</label>
                            <select id="idCursoId" name="idCursoId" disabled>
                                @foreach (Curso curso in cursos)
                                {
                                    <option>@curso.Descricao</option>
                                }
                            </select>
                        </div>
                        <input id="insert" type="submit" value="Gravar" disabled />
                    </form>
                    <div style="display: flex; align-items: center;">
                        <div class="alun-BtnsBBdSv">
                            <button id="new" onclick="New()">Novo</button>
                            <button id="update" onclick="Update()" disabled>Alterar</button>
                            <button id="cancel" onclick="Cancelar()">Cancelar</button>
                        </div>
                        <form action="/" method="post" style="padding-top: 6px;">
                            <input id="idAluno" type="text" name="idAluno" value="@a.Id" hidden />
                            <input id="nome" type="text" name="nome" value="@a.Nome" placeholder="Nome do aluno" hidden />
                            <input id="email" type="email" name="email" value="@a.Email" placeholder="E-mail do aluno" hidden />

                            <input id="delete" type="submit" value="Deletar" disabled/>
                        </form>
                    </div>
                </div>

                <div class="alun-MMskcDF">
                    <h2>Alunos:</h2>
                    <table id="table" onclick="infoAlunos()">
                        <tr>
                            <th onclick="sortTable(1)">
                                Nome<span id="carretNome">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                                        <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z" />
                                    </svg>
                                </span>
                                <span id="carretNameEnabled">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                        <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                                    </svg>
                                </span>
                            </th>
                            <th onclick="sortTable(2)">
                                Email<span id="carretEmail">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                                        <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z" />
                                    </svg>
                                </span>
                                <span id="carretEmailEnabled">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                        <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                                    </svg>
                                </span>
                            </th>
                            <th onclick="sortTable(3)">
                                Curso<span id="carretCurso">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                                        <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z" />
                                    </svg>
                                </span>
                                <span id="carretCursoEnabled">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                        <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                                    </svg>
                                </span>
                            </th>
                            <th onclick="sortTable(5)">
                                Turno<span id="carretTurno">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                                        <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z" />
                                    </svg>
                                </span>
                                <span id="carretTurnoEnabled">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                        <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                                    </svg>
                                </span>
                            </th>
                        </tr>
                        @foreach (Aluno aluno in alunos)
                        {
                            <tr>
                                <td hidden>@aluno.Id</td>
                                <td>@aluno.Nome</td>
                                <td>@aluno.Email</td>
                                <td>@aluno.Curso.Descricao</td>
                                <td id="ccId" hidden>@aluno.Curso.Id</td>
                                <td>@aluno.Curso.Turno</td>
                            </tr>
                        }
                    </table>
                </div>
            </main>
        </div>

        <!--Main Footer-->
        <footer id="hyperFooter">
            <div>
                <p>2022 AVA &#169; - Todos os direitos reservados.</p>
            </div>
        </footer>
    </body>
}
else
{
    <head>
        <link rel="icon" type="image/x-icon" href="~/View/Validate/notFound.ico">
        <title>Not Found</title>
    </head>
    <body>
        <br />
        <img style="margin-left: 30px; display:inline-block;" src="~/View/Validate/notFound.ico" alt="notFound" />
        <h1 style="display:inline-block; margin-left: 20px;"> Something went wrong. Return <a href="~/Login.cshtml">here</a>. </h1>
    </body>
}
</html>
<script>
    // SPINNER WRAPPER =================

    var spinnerWrapper = document.getElementById("spinnerWrapper");
    var spinnerModal = document.getElementById("spinMod");

    window.addEventListener('load', function () {
        if (spinnerModal.style.display = "flex") {
            spinnerModal.style.display = "none";
            spinnerWrapper.style.display = "none";
        }
    });

</script>

<script src="~/Models/js/logoffAction.js"></script>
<script src="~/Models/js/scripts.js"></script>
<script src="~/Models/js/alunoScripts.js"></script>