@using AmbienteEscolar.Business.BancoDeDados;
@using AmbienteEscolar.Business.Repositorios;
@using AmbienteEscolar.Business.Classes;

@{
    //Layout nulo, por enquanto (mudar para _Layout, assim que estiver pronto)
    Layout = null;
    BancoDados.DBConnect();

    Aluno a = new Aluno();
    List<Curso> cursos = CursoRepository.ListarCursos();
    List<Aluno> nomeAlunos = AlunoRepository.ListarNomeAlunos();
    List<Aluno> alunos = AlunoRepository.ListarAlunos();
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Alunos</title>
    <link rel="icon" type="image/x-icon" href="~/avaicon.ico">
    <link href="~/Models/css/layout.css" rel="stylesheet" />
    <link href="~/Models/css/alunos.css" rel="stylesheet" />
</head>
<body>
    <div>
        <main>
            <div>
                <h2>Alunos por Nome:</h2>
                <div class="list-main-div">
                    <div class="list-header">
                        <label>Nome</label>
                    </div>
                    <div class="list-table">
                        <table>
                            @foreach (Aluno infoAluno in nomeAlunos)
                            {
                                <tr>
                                    <td>
                                        @infoAluno.Nome
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
            <div>
                <form action="~/WebBusiness/AlunoBusiness/AlunoInsert.cshtml" method="post">
                    <h2>Cadastro de Alunos:</h2>
                    <label>Nome:</label>
                    <input id="nome" type="text" name="nome" value="@a.Nome" placeholder="Nome do aluno" />
                    <br />
                    <label>E-mail:</label>
                    <input id="email" type="email" name="email" value="@a.Email" placeholder="E-mail do aluno" />
                    <br />
                    <label>Selecione o curso:</label>
                    <br />
                    <select id="idCursoId" name="idCursoId">
                        @foreach (Curso curso in cursos)
                        {
                            <option value="@curso.Id">@curso.Descricao</option>
                        }
                    </select>
                    <br />
                    <input id="new" type="button" value="Novo" onclick="New()"/>
                    <input id="cancel" type="button" value="Cancelar" onclick="Cancelar()" />
                    <input id="insert" type="submit" value="Gravar"/>
                </form>
            </div>
            <div>
                <h2>Alunos:</h2>
                <div class="list-main-div">
                    <div class="list-header">
                        <label onclick="">Nome</label>
                        <label>Email</label>
                        <label>Curso</label>
                    </div>
                    <div class="list-table">
                        <table onclick="informacoesAlunos()">
                            @foreach (Aluno aluno in alunos)
                            {
                                <tr>
                                    <td>
                                        @aluno.Nome
                                    </td>
                                    <td>
                                        @aluno.Email
                                    </td>
                                    <td>
                                        @aluno.Curso.Descricao
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>

<script src="~/Models/js/alunoScripts.js"></script>