@using AmbienteEscolar.Business.BancoDeDados;
@using AmbienteEscolar.Business.Repositorios;
@using AmbienteEscolar.Business.Classes;

@{
    //Layout nulo, por enquanto (mudar para _Layout, assim que estiver pronto)
    Layout = null;
    BancoDados.DBConnect();

    Aluno a = new Aluno();
    List<Curso> cursos = CursoRepository.ListarCursos();
    List<Aluno> nomeAlunos = AlunoRepository.ListarNomeAlunos();
    List<Aluno> alunos = AlunoRepository.ListarAlunos();
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Alunos</title>
    <link rel="icon" type="image/x-icon" href="~/avaicon.ico">
    <link href="~/Models/css/layout.css" rel="stylesheet" />
</head>
<body>
    <div>
        <main>
            <div>
                <h2>Listar nome dos alunos existentes:</h2>
                <br />
                <button>Listar</button>
                <table>
                    @foreach (Aluno infoAluno in nomeAlunos)
                    {
                        <br />
                        <tr>
                            @infoAluno.Nome
                        </tr>
                    }
                </table>
            </div>
            <div>
                <form action="~/WebBusiness/AlunoBusiness/AlunoInsert.cshtml" method="post">
                    <h2>Cadastrar Alunos:</h2>
                    <br />
                    <label>Nome:</label>
                    <input id="nome" type="text" name="nome" value="@a.Nome" placeholder="Nome do aluno" />
                    <br />
                    <label>E-mail:</label>
                    <input id="email" type="email" name="email" value="@a.Email" placeholder="E-mail do aluno" />
                    <br />
                    <label>Selecione o curso:</label>
                    <br />
                    <select id="idCursoId" name="idCursoId">
                        @foreach (Curso curso in cursos)
                        {
                            <option value="@curso.Id">@curso.Descricao</option>
                        }
                    </select>
                    <br />
                    <input type="submit" value="Inserir" />
                </form>
            </div>
            <br />
            <br />
            <div>
                <h2>Listar Alunos:</h2>
                <br />
                <button>Listar</button>
                <div>
                    <label>Nome</label>
                    <label>Email</label>
                    <label>Id do Curso</label>
                    <table onclick="informacoesAlunos()">
                        @foreach (Aluno aluno in alunos)
                        {
                            <tr>
                                <td>
                                    @aluno.Nome
                                </td>
                                <td>
                                    @aluno.Email
                                </td>
                                <td>
                                    @aluno.Id_curso
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </main>
    </div>
</body>
</html>
