@using AmbienteEscolar.Business.BancoDeDados;
@using AmbienteEscolar.Business.Repositorios;
@using AmbienteEscolar.Business.Classes;

@{
    //Layout nulo, por enquanto (mudar para _Layout, assim que estiver pronto)
    Layout = null;
    BancoDados.DBConnect();
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Alunos</title>
    <link rel="icon" type="image/x-icon" href="~/avaicon.ico">
    <link href="~/Models/css/layout.css" rel="stylesheet" />
</head>
<body>
    <div>
        @{
            List<Aluno> nomeAlunos = AlunoRepository.ListarNomeAlunos();
        }

        <main>
            <div>
                <h2>Listar nome dos alunos existentes:</h2>
                <br />
                <button>Listar</button>
                <table>
                    @foreach (Aluno infoAluno in nomeAlunos)
                    {
                        <br />
                        <tr>
                            @infoAluno.Nome
                        </tr>
                    }
                </table>
            </div>

            @{
                string nome = "";
                string email = "";
                int id_curso = 0;
                //AlunoRepository.InserirAluno(nome, email, id_curso);

                <div>
                    <form action="/" method="post" onsubmit="">
                        <h2>Cadastrar Alunos:</h2>
                        <br />
                        <label>Nome:</label>
                        <input type="text" name="nome" @*value="@nome"*@ placeholder="Nome do aluno" />
                        <br />
                        <label>E-mail:</label>
                        <input type="email" name="email" @*value="@email"*@ placeholder="E-mail do aluno" />
                        <br />

                        @{
                            List<Curso> cursos = CursoRepository.ListarCursos();
                        }

                        <label>Selecione o curso:</label>
                        <br />
                        <select>
                            @foreach (Curso curso in cursos)
                            {
                                <option id="idCursoId" value="@curso.Id">@curso.Descricao</option>
                            }
                        </select>
                        <br />
                        <input type="submit" value="Inserir" />
                    </form>
                </div>
            }
            <br />
            <br />
            <div>

                @{
                    List<Aluno> alunos = AlunoRepository.ListarAlunos();
                }

                <h2>Listar Alunos:</h2>
                <br />
                <button>Listar</button>
                <div>
                    <label>Nome</label>
                    <label>Email</label>
                    <label>Id do Curso</label>
                    <table>
                        @foreach (Aluno aluno in alunos)
                        {
                            <tr>
                                <td>
                                    @aluno.Nome
                                </td>
                                <td>
                                    @aluno.Email
                                </td>
                                <td>
                                    @aluno.Id_curso
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </main>
    </div>
</body>
</html>
