@using AmbienteEscolar.Business.BancoDeDados;
@using AmbienteEscolar.Business.Repositorios;
@using AmbienteEscolar.Business.Classes;
@using AmbienteEscolar.Business.Classes.Enum;

@{
    Layout = "_Layout.cshtml";
    BancoDados.DBConnect();
    Usuario u = new Usuario();
    List<Aluno> alunos = AlunoRepository.ListarAlunos();

    Usuario usuario = new Usuario();
    usuario.Login = Request.Form["login"];

    Boolean logged = false;
    HttpCookie cookie = Request.Cookies["UserLogin"];
    if (cookie != null)
    {
        logged = true;
    }
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Usuários</title>
    <link href="~/View/Shared/_Layout.cshtml" rel="logo" />
    <link href="~/Models/css/reset.css" rel="stylesheet" />
    <link href="~/View/Validate/ValidateLogin.cshtml" rel="profile" />
    <link rel="icon" type="image/x-icon" href="~/Button-Blank-Blue-icon.ico">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Models/css/menu_lateral.css" rel="stylesheet" />
    <link href="~/Models/css/menu.css" rel="stylesheet" />
    <link href="~/Models/css/layout_scnd.css" rel="stylesheet" />
</head>
<body>
    <div class="container-lg container-default">
        <div class="dft-header-title">
            <h1>Alunos</h1>
        </div>
        <div id="container-table" class="class-list">
            <button class="btn btn-add-item" type="button" onclick="abrirModal(0, '', '', '', '', '')">Adicionar Aluno</button>
            <div class="table100 ver5 m-b-110">
                <div class="table100-head">
                    <table>
                        <thead>
                            <tr class="row100 head">
                                @if (alunos.Count > 0)
                                {
                                    <th class="cell100 column1">Id</th>
                                    <th class="cell100 column2">Nome</th>
                                    <th class="cell100 column2">Cpf</th>
                                    <th class="cell100 column2">Matricula</th>
                                    <th class="cell100 column2">Telefone</th>
                                    <th class="cell100 column2">Email</th>
                                }
                                else
                                {
                                    <th class="cell100 column2"></th>
                                }
                                <th class="cell100 column1">
                                    <svg width="16" height="16" class="bi bi-box-arrow-in-down-left"><use xlink:href="#table-alter">></use></svg>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>

                @if (alunos.Count > 0)
                {
                    foreach (var us in alunos)
                    {
                        <div class="table100-body">
                            <table>
                                <tbody>
                                    <tr class="row100 body">
                                        <td class="cell100 column1">@us.Id</td>
                                        <td class="cell100 column2">@us.Nome</td>
                                        <td class="cell100 column2">@us.Cpf</td>
                                        <td class="cell100 column2">@us.Matricula</td>
                                        <td class="cell100 column2">@us.Telefone</td>
                                        <td class="cell100 column2">@us.Email</td>
                                        <td><button class="btn" onclick="abrirModal(@us.Id, '@us.Nome', '@us.Cpf', @us.Matricula, '@us.Telefone', '@us.Email')">Alterar</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    }
                }
                else
                {
                    <div>
                        <p>Sem usuários cadastrados no momento</p>
                    </div>
                }
            </div>
        </div>

        <div id="alterarUsuarioModal" class="modal">
            <div class="modal-content">
                <!-- Conteúdo do modal -->
                <span class="close" onclick="fecharModal()">&times;</span>
                <div id="informacoesUsuario"></div>
            </div>
        </div>

        <div id="deleteUsuarioModal" class="modal">
            <div class="modal-content delete">
                <!-- Conteúdo do modal -->
                <span class="close" onclick="fecharModalDelete()">&times;</span>
                <div id="informacoesUsuarioDelete"></div>
            </div>
        </div>
    </div>



    <!--Spinner Wrapper-->
    <div id="spinMod" class="spinner-modal">
        <div id="spinnerWrapper" class="ring">
            Loading
            <span></span>
        </div>
    </div>
</body>



<script>

    function abritModalDelete(id, matricula) {
        var modal = `<div class="formbold-main-wrapper">
        <div class="formbold-form-wrapper">
            <span>Tem certeza que deseja excluir o aluno?</span>
            <form action="/WebBusiness/AlunoBusiness/AlunoDelete.cshtml" method="post">
                <input name="idDelete" id="idDelete" value="${id}" hidden>
                <input name="matriculaDelete" id="matriculaDelete" value="${matricula}" hidden>
                <input class="formbold-btn" value="Sim" type="submit">
            </form>
            <button style="margin-left: 115px; margin-top: -52px;" class="formbold-btn" onclick="fecharModalDelete()">Não</button>
        </div>
        </div>`;
        document.getElementById("informacoesUsuarioDelete").innerHTML = modal;
        document.getElementById("deleteUsuarioModal").style.display = "block";
    }

    // Função para abrir o modal e exibir informações do usuário
    function abrirModal(id, nome, cpf, matricula, telefone, email) {
        var formModal = `<div class="formbold-main-wrapper">
    <div class="formbold-form-wrapper">
        <form action="/WebBusiness/AlunoBusiness/AlunoInsert.cshtml" method="post">

            <div class="formbold-mb-3">
                <label class="formbold-form-label">
                    Identificador
                </label>
                <input id="id" type="text" name="id" class="formbold-form-input" value="${id}">
            </div>

            <div class="formbold-input-flex">
                <div>
                    <label class="formbold-form-label"> Nome </label>
                    <input type="text" name="nome" id="nome" class="formbold-form-input" value="${nome}">
                </div>
                <div>
                    <label class="formbold-form-label"> Cpf </label>
                    <input type="text" name="cpf" id="cpf" class="formbold-form-input" value="${cpf}">
                </div>
            </div>

            <div class="formbold-input-flex">
                <div>
                    <label class="formbold-form-label"> Matricula </label>
                    <input type="text" name="matricula" id="matricula" class="formbold-form-input" value="${matricula}">
                </div>
                <div>
                    <label class="formbold-form-label"> Telefone </label>
                    <input type="text" name="telefone" id="telefone" class="formbold-form-input" value="${telefone}">
                </div>
            </div>

            <div class="formbold-mb-3">
                <label class="formbold-form-label">
                    E-mail
                </label>
                <input id="email" type="text" name="email" class="formbold-form-input" value="${email}">
            </div>

            <input type="submit" class="formbold-btn" value="Salvar">
        </form>
        <button style="margin-left: 115px; margin-top: -52px;" class="formbold-btn" onclick="abritModalDelete(${id}, ${matricula})" ${id == 0 ? /hidden/ : /'/}>Deletar</button>
    </div>
</div>`;

        document.getElementById("informacoesUsuario").innerHTML = formModal;
        document.getElementById("alterarUsuarioModal").style.display = "block";
    }



    // Função para fechar o modal
    function fecharModal() {
        document.getElementById("alterarUsuarioModal").style.display = "none";
    }

    function fecharModalDelete() {
        document.getElementById("deleteUsuarioModal").style.display = "none";
    }

    // SPINNER WRAPPER =================

    var spinnerWrapper = document.getElementById("spinnerWrapper");
    var spinnerModal = document.getElementById("spinMod");

    window.addEventListener('load', function () {
        if (spinnerModal.style.display = "flex") {
            spinnerModal.style.display = "none";
            spinnerWrapper.style.display = "none";
        }
    });



</script>

<script src="~/Models/js/alunoScripts.js"></script>
<script src="~/Models/js/logoffAction.js"></script>
<script src="~/Models/js/scripts.js"></script>