@using AmbienteEscolar.Business.BancoDeDados;
@using AmbienteEscolar.Business.Repositorios;
@using AmbienteEscolar.Business.Classes;

@{
    //Layout nulo, por enquanto (mudar para _Layout, assim que estiver pronto)
    Layout = null;
    BancoDados.DBConnect();
    Usuario usuario = new Usuario();
    AmbienteEscolar.Business.Others.Enumerations en = new AmbienteEscolar.Business.Others.Enumerations();
    Dictionary<int, List<Disciplina>> DisciplinasPorModulo = DisciplinaRepository.RetornaDisciplinas();
    bool contemDisciplinas = DisciplinasPorModulo.Count > 0;
    usuario.Login = Request.Form["login"];

    Boolean logged = false;
    HttpCookie cookie = Request.Cookies["UserLogin"];
    if (cookie != null)
    {
        logged = true;
    }
}

<!DOCTYPE html>

<html>
@*@if (logged == true)
    {*@
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Professores</title>
    <link href="~/View/Shared/_Layout.cshtml" rel="logo" />
    <link href="~/Models/css/reset.css" rel="stylesheet" />
    <link href="~/Models/css/menu.css" rel="stylesheet" />
    <link href="~/View/Validate/ValidateLogin.cshtml" rel="profile" />
    <link rel="icon" type="image/x-icon" href="~/Button-Blank-Blue-icon.ico">
    <link rel="stylesheet" href="~/css/login/login.css">
</head>
<body>


    <!--Spinner Wrapper-->
    <div id="spinMod" class="spinner-modal">
        <div id="spinnerWrapper" class="ring">
            Loading
            <span></span>
        </div>
    </div>

    <!--Professores Screen-->
    <div class="container-table">
        <div class="table100 ver1 m-b-110">
            @if (contemDisciplinas)
            {
                foreach (var modulo in DisciplinasPorModulo)
                {
                    <div class="table100-head">
                        <table>
                            <thead>
                                <tr class="row100 head">
                                    <th class="ver-main cell100 column1"><span>Módulo </span>@modulo.Key<span>: @en.ReturnDescriptionModulo(modulo.Key)</span></th>
                            </thead>
                        </table>
                    </div>
                    <div class="table100-head">
                        <table>
                            <thead>
                                <tr class="row100 head">
                                    <th class="cell100 column1">Disciplina</th>
                                    <th class="cell100 column2">Requisitos</th>
                                    <th class="cell100 column3">Situação</th>
                                    <th class="cell100 column4">Carga Horária</th>
                                    <th class="cell100 column5">Nota</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    foreach (var disciplina in modulo.Value)
                    {
                        <div class="table100-body">
                            <table>
                                <tbody>
                                    <tr class="row100 body">
                                        <td class="cell100 column1">@disciplina.NomeDisciplina</td>
                                        <td class="cell100 column2">@disciplina.Requisitos</td>
                                        <td class="cell100 column3">@disciplina.Situacao</td>
                                        <td class="cell100 column4">@disciplina.CargaHoraria</td>
                                        <td class="cell100 column5">@disciplina.Nota</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    }
                }
            }
            else
            {
                <div>
                    <span>Ops! Histórico indisponível no momento.</span>
                </div>
            }
        </div>
    </div>

    <!--Main Footer-->
    <footer id="hyperFooter">
        <div>
            <p>2022 AVA &#169; - Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
@*}
    else
    {
        <head>
            <link rel="icon" type="image/x-icon" href="~/View/Validate/notFound.ico">
            <title>Not Found</title>
        </head>
        <body>
            <br />
            <img style="margin-left: 30px; display:inline-block;" src="~/View/Validate/notFound.ico" alt="notFound" />
            <h1 style="display:inline-block; margin-left: 20px;"> Something went wrong. Return <a href="~/Login.cshtml">here</a>. </h1>
        </body>
    }*@
</html>
<script>
    // SPINNER WRAPPER =================

    var spinnerWrapper = document.getElementById("spinnerWrapper");
    var spinnerModal = document.getElementById("spinMod");

    window.addEventListener('load', function () {
        if (spinnerModal.style.display = "flex") {
            spinnerModal.style.display = "none";
            spinnerWrapper.style.display = "none";
        }
    });
</script>

<script src="~/Models/js/logoffAction.js"></script>
<script src="~/Models/js/alunoScripts.js"></script>
<script src="~/Models/js/scripts.js"></script>