@using AmbienteEscolar.Business.BancoDeDados;
@using AmbienteEscolar.Business.Repositorios;
@using AmbienteEscolar.Business.Classes;
@using AmbienteEscolar.Business.Classes.Enum;

@{
    Layout = "_Layout.cshtml";
    BancoDados.DBConnect();
    Usuario u = new Usuario();
    NivelAcesso na = new NivelAcesso();
    List<NivelAcesso> nivelAcesso = NivelAcessoRepository.ListarAcesso();
    List<Usuario> usuarios = UsuarioRepository.ListarUsuarios();
    Sessao sessao = Sessao.Current();
}

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<title>Usuários</title>
<link href="~/View/Shared/_Layout.cshtml" rel="logo" />
<link href="~/Models/css/reset.css" rel="stylesheet" />
<link href="~/View/Validate/ValidateLogin.cshtml" rel="profile" />
<link rel="icon" type="image/x-icon" href="~/Button-Blank-Blue-icon.ico">
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Models/css/menu_lateral.css" rel="stylesheet" />
<link href="~/Models/css/menu.css" rel="stylesheet" />
<link href="~/Models/css/layout_scnd.css" rel="stylesheet" />

<div class="container-lg container-default">
    <div class="dft-header-title">
        <h1>Usuários</h1>
    </div>
    <div id="container-table" class="class-list">
        @if (sessao.NivelAcesso.Id == (int)EnumNivelAcesso.Administrador)
        {
            <button class="btn btn-add-item" type="button" onclick="abrirModal(0, '', '', '')">Adicionar Usuário</button>
        }
        <div class="table100 ver5 m-b-110">
            <div class="table100-head">
                <table>
                    <thead>
                        <tr class="row100 head">
                            @if (usuarios.Count > 0)
                            {
                                <th class="cell100 column1">Id</th>
                                <th class="cell100 column2">Login</th>
                                <th class="cell100 column3">Senha</th>
                                <th class="cell100 column4">Nivel de Acesso</th>
                            }
                            else
                            {
                                <th class="cell100 column5"></th>
                            }
                            <th class="cell100 column5"></th>
                        </tr>
                    </thead>
                </table>
            </div>

            @if (usuarios.Count > 0)
            {
                foreach (var us in usuarios)
                {
                    <div class="table100-body">
                        <table>
                            <tbody>
                                <tr class="row100 body">
                                    <td class="cell100 column1">@us.Id</td>
                                    <td class="cell100 column2">@us.Login</td>
                                    <td class="cell100 column3" style="display: none">@us.Senha</td>
                                    <td class="cell100 column3">•••••••••</td>
                                    <td class="cell100 column4">@us.NivelAcesso.Descricao</td>
                                    <td><button class="btn" onclick="abrirModal(@us.Id, '@us.Login', '@us.Senha', '@us.NivelAcesso.Id')">Alterar</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                }
            }
            else
            {
                <div>
                    <p>Sem usuários cadastrados no momento</p>
                </div>
            }
        </div>
    </div>

    <div id="alterarUsuarioModal" class="modal">
        <div class="modal-content">
            <!-- Conteúdo do modal -->
            <span class="close" onclick="fecharModal()">&times;</span>
            <div id="informacoesUsuario"></div>
        </div>
    </div>

    <div id="deleteUsuarioModal" class="modal">
        <div class="modal-content delete">
            <!-- Conteúdo do modal -->
            <span class="close" onclick="fecharModalDelete()">&times;</span>
            <div id="informacoesUsuarioDelete"></div>
        </div>
    </div>
</div>



<!--Spinner Wrapper-->
<div id="spinMod" class="spinner-modal">
    <div id="spinnerWrapper" class="ring">
        Loading
        <span></span>
    </div>
</div>


<script>

    function abritModalDelete(id) {
        var modal = `<div class="formbold-main-wrapper">
        <div class="formbold-form-wrapper">
            <span>Tem certeza que deseja excluir o usuário?</span>
            <form action="/WebBusiness/UsuarioBusiness/UsuarioDelete.cshtml" method="post">
                <input name="idUserDelete" id="idUserDelete" value="${id}" hidden>
                <input class="formbold-btn" value="Sim" type="submit">
            </form>
            <button style="margin-left: 115px; margin-top: -52px;" class="formbold-btn" onclick="fecharModalDelete()">Não</button>
        </div>
        </div>`;
        document.getElementById("informacoesUsuarioDelete").innerHTML = modal;
        document.getElementById("deleteUsuarioModal").style.display = "block";
    }

    // Função para abrir o modal e exibir informações do usuário
    function abrirModal(id, login, senha, nivelAcesso) {
        var formModal = `<div class="formbold-main-wrapper">
    <div class="formbold-form-wrapper">
        <form action="/WebBusiness/UsuarioBusiness/UsuarioInsert.cshtml" method="post">

            <div class="formbold-mb-3">
                <label class="formbold-form-label">
                    Identificador
                </label>
                <input id="idUser" type="text" name="idUser" class="formbold-form-input" value="${id}">
            </div>

            <div class="formbold-input-flex">
                <div>
                    <label class="formbold-form-label"> Login </label>
                    <input type="text" name="loginUser" id="loginUser" class="formbold-form-input" value="${login}">
                </div>
                <div>
                    <label class="formbold-form-label"> Senha </label>
                    <input type="password" name="senhaUser" id="senhaUser" class="formbold-form-input" value="${senha}">
                </div>
            </div>

            <div class="formbold-mb-3" id="permission">
                <label class="formbold-form-label">
                    Permissão
                </label>
                <select class="formbold-form-input" name="permissionUser">
                    <option value="1">Administrador</option>
                    <option value="3">Professor</option>
                    <option value="4">Aluno</option>
                </select>
            </div>

            <input type="submit" class="formbold-btn" value="Salvar">
        </form>
        <button style="margin-left: 115px; margin-top: -52px;" class="formbold-btn" onclick="abritModalDelete(${id})" ${id == 0 ? /hidden/ : /'/}>Deletar</button>
    </div>
</div>`;

        var permission = `<div class="formbold-mb-3" id="permission">
                              <label class="formbold-form-label">
                                  Permissão
                              </label>
                              <select class="formbold-form-input" name="permissionUser">
                                  <option value="1">Administrador</option>
                                  <option value="3">Professor</option>
                                  <option value="4">Aluno</option>
                              </select>
                          </div>`;

        document.getElementById("informacoesUsuario").innerHTML = formModal;
        if (nivelAcesso == 1) {
            document.getElementById("permission").innerHTML = permission;
        }
        else if (nivelAcesso == 3) {
            permission = `<div class="formbold-mb-3" id="permission">
                              <label class="formbold-form-label">
                                  Permissão
                              </label>
                              <select class="formbold-form-input" name="permissionUser">
                                  <option value="3">Professor</option>
                                  <option value="4">Aluno</option>
                                  <option value="1">Administrador</option>
                              </select>
                          </div>`;
            document.getElementById("permission").innerHTML = permission;
        }
        else if (nivelAcesso == 4) {
            permission = `<div class="formbold-mb-3" id="permission">
                              <label class="formbold-form-label">
                                  Permissão
                              </label>
                              <select class="formbold-form-input" name="permissionUser">
                                  <option value="4">Aluno</option>
                                  <option value="3">Professor</option>
                                  <option value="1">Administrador</option>
                              </select>
                          </div>`;
            document.getElementById("permission").innerHTML = permission;
        }

        document.getElementById("alterarUsuarioModal").style.display = "block";
    }






    // Função para fechar o modal
    function fecharModal() {
        document.getElementById("alterarUsuarioModal").style.display = "none";
    }

    function fecharModalDelete() {
        document.getElementById("deleteUsuarioModal").style.display = "none";
    }

    // SPINNER WRAPPER =================

    var spinnerWrapper = document.getElementById("spinnerWrapper");
    var spinnerModal = document.getElementById("spinMod");

    window.addEventListener('load', function () {
        if (spinnerModal.style.display = "flex") {
            spinnerModal.style.display = "none";
            spinnerWrapper.style.display = "none";
        }
    });



</script>