@using AmbienteEscolar.Business.BancoDeDados;
@using AmbienteEscolar.Business.Repositorios;
@using AmbienteEscolar.Business.Classes;

@{
    //Layout nulo, por enquanto (mudar para _Layout, assim que estiver pronto)
    Layout = null;
    BancoDados.DBConnect();
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Usuários</title>
    <link rel="icon" type="image/x-icon" href="~/avaicon.ico">
    <link href="~/Models/css/layout.css" rel="stylesheet" />
</head>
<body>
    <main>
        <div>
            <br />

            @{
                List<Usuario> usuarios = UsuarioRepository.ListarUsuarios();
            }

            <label>Listar Professores:</label>
            <br />
            <button>Listar</button>
            <br />
            <table>
                @foreach (Usuario usuario in usuarios)
                {
                <tr>
                    <td>
                        @usuario.Login
                    </td>
                    <td>
                        @usuario.Senha
                    </td>
                    <td>
                        @usuario.Id_professor
                    </td>
                    <td>
                        @usuario.Id_aluno
                    </td>
                    <td>
                        @usuario.Id_curso
                    </td>
                    <td>
                        @usuario.Id_acesso
                    </td>
                    <td>
                        @usuario.Ativo
                    </td>
                </tr>
                }
            </table>
        </div>
    </main>
</body>
</html>